<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">
    <test name="Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Assignment6.TestScripts.Orangehrm">
                <methods><include name="validateInvalidLogin"/>
                    <exclude name="validateInvalidLoginExcel"/>
                    <include name="validateValidLogin"/>
                </methods></class>
        </classes>
    </test>
    <test name="Edge">
        <parameter name="browser" value="Edge"/>
        <classes>
            <class name="Assignment6.TestScripts.Orangehrm">
                <methods><exclude name="validateInvalidLogin"/>
                    <include name="validateInvalidLoginExcel"/>
                    <include name="validateValidLogin"/>
                </methods></class>
        </classes>
    </test>
</suite>